<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&family=Red+Hat+Display:ital@1&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="../static/css/best.css">
    <title>Best</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a class="header__logo d-flex" href="./best.html">
                <h3 class="header__logo_s">B</h3>
                <h2 class="header__logo_title">Best</h2>
            </a>
            <ul class="nav__list">
                <li><a href="register/admin.html" class="nav__list_link">Sell on Best</a></li>
                <li><a href="register/register.html" class="nav__list_link">Register</a></li>
            </ul>
            <div class="search">
                <a class="search__link_left" href=""><img src="img/svg/search__logo.svg" alt=""></a>
                <input type="search" placeholder="search">
            </div>
            <li><a href="consumer.html" class="nav__list_link nav__list_consummer">Consumer Electronics</a></li>
            <ul class="nav__list_two">
                <li><a href="register/sing__in.html" class="nav__link">Sign in</a></li>
                <li><a href="register/mycard.html" class="nav__link">My cart</a></li>
            </ul>
        </nav>
        <div class="header__content">
            <a class="header__link" href="clothes.html"><img src="img/svg/card__img.svg" alt=""><br> Clothing & Shoes</a>
            <a class="header__link" href="sport.html"><img src="img/svg/card__img4.svg" alt=""><br> Sport & Lifestyle</a>
            <a class="header__link" href="pets.html"><img src="img/svg/card__img5.svg" alt=""><br> Pets</a>
            <a class="header__link" href="kitchen.html"><img src="img/svg/card__img6.svg" alt=""><br> Kitchen Accessories</a>
            <a class="header__link" href="travel.html"><img src="img/svg/card__img7.svg" alt=""><br> Travel Equipment</a>
            <a class="header__link" href="growing.html"><img src="img/svg/card__img8.svg" alt=""><br> Growing & Garden</a>
            <a class="header__link" href="electrical.html"><img src="img/svg/card__img9.svg" alt=""><br> Electrical Tools</a>
            <a class="header__link" href="baby.html"><img src="img/svg/card__img10.svg" alt=""><br> Mother Care</a>
            <a class="header__link" href="toys.html"><img src="img/svg/card__img11.svg" alt=""><br> Toys & Entertainment</a>
        </div>
    </header>
    <main class="main">
        <div class="main__content">
            <div class="departaments">
                <div class="departaments__cont">
                    <img class="" src="img/svg/main__title_link.svg" alt="">
                    <span class="departaments__title">Departments</span>
                </div>
                <div class="menu__bar">
                    <div class="menu__li"><img class="menu__li_img" src="img/svg/menu__li_img.svg" alt="">
                        <div>
                            All Categories<span class="menu__span">Ecommerce patterns</span>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div class="select">
                            <img class="img" src="img/svg/menu__two_img.svg" alt="">
                            <span class="selected">Electronics</span>
                        </div>
                        <div class="menu">
                            <div class="dropdown">
                                <div class="select">
                                    <img class="img" src="img/svg/menu__two_img.svg" alt="">
                                    <span class="selected">Cell Phones & Smartphones</span>
                                </div>
                                <ul class="menu">
                                    <li class="menu__li"><a class="menu__li_link" href="">Cell Phone Accessories</a>
                                    </li>
                                    <li class="menu__li"><a class="menu__li_link" href="">Cell Phone Gatgets</a></li>
                                    <li class="menu__li"><a class="menu__li_link" href=""> Applications</a></li>
                                    <li class="menu__li"><a class="menu__li_link" href="">Smart Watches</a></li>
                                    <a href="" class="menu__link">Show more <img src="img/svg/menu__link.svg"
                                            alt=""></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="menu__li"><img class="menu__li_img" src="img/svg/menu__li_img.svg" alt="">Business &
                        Industrial</div>
                    <div class="menu__li"><img class="menu__li_img" src="img/svg/menu__li_img.svg" alt="">
                        <div> Computers<span class="menu__span">Tablets & Networkin</span></div>
                    </div>
                    <div class="menu__li"><img class="menu__li_img" src="img/svg/menu__li_img.svg" alt="">Consumer
                        Electroinics</div>
                    <div class="menu__li"><img class="menu__li_img" src="img/svg/menu__li_img.svg" alt="">Home &
                        Garden
                    </div>
                    <div class="menu__li"><img class="menu__li_img" src="img/svg/menu__li_img.svg" alt="">Collectibles
                    </div>
                    <a href="#" class="main__menu_link">Expand</a>

                </div>

            </div>
            <div class="dropdown__two collapsed">
                <div class="select row__collapsed">
                    <span class="selected">Collapsed filters</span>
                    <img class="img foo__img" src="img/svg/collapsed__img.svg" alt="">
                </div>
                <ul class="menu">
                    <li></li>
                </ul>
            </div>
            <div class="dropdown__two expended">
                <div class="select row__content">
                    <span class="selected ">Expanded Filters</span>
                    <img class="img foo__img" src="img/svg/menu__link.svg" alt="">
                </div>
                <ul class="menu row__menu">
                    <li class="menu__li">
                        <input type="checkbox" class="row__input">
                        Recommended
                    </li>
                    <li class="menu__li">
                        <input type="checkbox" class="row__input">
                        Recently Added
                    </li>
                    <li class="menu__li">
                        <input type="checkbox" class="row__input">
                        Expiring Soon
                    </li>
                </ul>
            </div>
        </div>
        <div class="products">
            <div class="products__nav">
                <div class="products__nav_left">
                    <div>
                        <div class="dropdown__two doll ">
                            <span class="product__span">SORT BY</span>
                            <div class="select product__drop">
                                <span class="selected">Useless first</span>
                                <img class="foo__img" src="img/svg/product__nav.svg" alt="">
                            </div>
                            <ul class="menu ">
                            </ul>
                        </div>
                    </div>
                    <div class="dropdown__two doll__two">
                        <div class="select product__drop">
                            <span class="selected">Condition</span>
                            <img class="foo__img" src="img/svg/product__nav.svg" alt="">
                        </div>
                        <ul class="menu ">
                            <li></li>
                        </ul>
                    </div>
                    <div class="dropdown__two doll__two">
                        <div class="select product__drop">
                            <span class="selected">Delivery options</span>
                            <img class="foo__img" src="img/svg/product__nav.svg" alt="">
                        </div>
                        <ul class="menu ">
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="products__nav_right">
                    <div class="rog__left">
                        <a href="#" class="rog__left_link">Show all</a>
                        <a href="#" class="rog__left_middle">Auction</a>
                        <a href="#" class="rog__left_link">Buy now</a>
                    </div>
                    <div class="rog__right">
                        <a href="#" class="rog__left_inside"><img src="img/svg/rog__img_left.svg" alt=""></a>
                        <a href="#" class="rog__right_inside"><img src="img/svg/rog__img_rightsvg.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="related">
                <h3 class="related__title">Related</h3>
                <a href="#" class="related__link">worldwide shipping</a>
                <a href="#" class="related__link">under $50</a>
                <a href="#" class="related__link">kitten</a>
                <a href="#" class="related__link">plastic plugs</a>
                <a href="#" class="related__link">pucker shoes</a>
                <a href="#" class="related__link">vintage typewriter</a>
            </div>
            <div class="product__wrapper">
                <div class="card">
                    <a class="product__card" href="">
                        <img class="card__img_one" src="img/img/1.jpg" alt="">
                        <p class="card__text">Vintage Typewriter to post awesome stories about UI design and webdev.
                        </p>
                        <span class="card__span">$49.50</span>
                        <p class="card__text_two">Eligible for Shipping To Mars or somewhere else</p>
                        <div class="card__cont">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star_two.svg" alt="">
                            <span class="card__cont_span">4.05</span>
                            <a class="card__link" href=""><img src="img/svg/like.svg" alt=""> Watch</a>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="product__card" href="clothes.html">
                        <img class="card__img_one" src="img/img/2.jpg" alt="">
                        <p class="card__text">Lee Pucker design. Leather botinki for handsome designers. Free shipping.
                        </p>
                        <span class="card__span">$13.95</span>
                        <p class="card__text_two">1258 bids, 359 watchers
                            $5.95 for shipping</p>
                        <div class="card__cont">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star_two.svg" alt="">
                            <span class="card__cont_span">4.56</span>
                            <a class="card__link" href=""><img src="img/svg/like.svg" alt=""> Watch</a>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="product__card" href="pets.html">
                        <img class="card__img_one" src="img/img/3.jpg" alt="">
                        <p class="card__text">Timesaving kitten to save months on development. Playful, cute, cheap!
                        </p>
                        <span class="card__span">$128.99</span>
                        <p class="card__text_two">Eligible for nothing :(</p>
                        <div class="card__cont three">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star_two.svg" alt="">
                            <span class="card__cont_span">4.87</span>
                            <a class="card__link" href=""><img src="img/svg/like.svg" alt=""> Watch</a>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="product__card" href="">
                        <img class="card__img_one" src="img/img/4.jpg" alt="">
                        <p class="card__text">Plastic useless plugs and tubes for high-fidelity prototyping. Fit & Eat!
                        </p>
                        <span class="card__span off">$12.48 <span class="card__span_off">50% OFF</span></span>
                        <p class="card__text_two for__text">Eligible for Shipping To Mars or somewhere else</p>
                        <div class="card__cont">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star_two.svg" alt="">
                            <span class="card__cont_span">4.05</span>
                            <a class="card__link" href=""><img src="img/svg/like.svg" alt=""> Watch</a>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="product__card" href="">
                        <img class="card__img_one" src="img/img/5.jpg" alt="">
                        <p class="card__text">Creativity stimulating lotion. Drink every morning to generate better
                            ideas!
                        </p>
                        <span class="card__span">$30.50</span>
                        <p class="card__text_two">Eligible for Shipping To Mars or somewhere else</p>
                        <div class="card__cont">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star_two.svg" alt="">
                            <span class="card__cont_span">4.05</span>
                            <a class="card__link" href=""><img src="img/svg/like.svg" alt=""> Watch</a>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="product__card" href="electrical.html">
                        <img class="card__img_one" src="img/img/6.jpg" alt="">
                        <p class="card__text six__text">Prototyping items to create a lot if useless things...
                        </p>
                        <span class="card__span ">$15.46</span>
                        <p class="card__text_two">Eligible for Shipping To Mars or somewhere else</p>
                        <div class="card__cont">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star_two.svg" alt="">
                            <span class="card__cont_span">4.05</span>
                            <a class="card__link" href=""><img src="img/svg/like.svg" alt=""> Watch</a>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="product__card" href="clothes.html">
                        <img class="card__img_one" src="img/img/7.jpg" alt="">
                        <p class="card__text seven__text">John Von Ebalkin SPRING
                        </p>
                        <span class="card__span">$40.29</span>
                        <p class="card__text_two">Eligible for Shipping To Mars or somewhere else</p>
                        <div class="card__cont">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star_two.svg" alt="">
                            <span class="card__cont_span">4.05</span>
                            <a class="card__link" href=""><img src="img/svg/like.svg" alt=""> Watch</a>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="product__card" href="travel.html">
                        <img class="card__img_one" src="img/img/8.jpg" alt="">
                        <p class="card__text ">Envelope, Stripes, Pencil and etc. Purchase this kit today and feel OKAY
                        </p>
                        <span class="card__span">$20.15</span>
                        <p class="card__text_two eight__text">Eligible for Shipping To Mars or somewhere else</p>
                        <div class="card__cont">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star.svg" alt="">
                            <img class="card__img" src="img/svg/star_two.svg" alt="">
                            <span class="card__cont_span">4.05</span>
                            <a class="card__link" href=""><img src="img/svg/like.svg" alt=""> Watch</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer_content">
                <div class="footer__left d-flex">
                    <a class="header__logo d-flex" href="">
                        <h3 class="header__logo_s">B</h3>
                        <h2 class="header__logo_title">Best</h2>
                    </a>
                </div>
                <div class="footer__right d-flex">
                    <a class="footer__left_link" href="#"><img class="footer__left_img" src="./description/img/svg/telegram.svg"
                            alt=""></a>
                    <a class="footer__left_link" href="#"><img class="footer__left_img" src="./description/img/svg/instagram.svg"
                            alt=""></a>
                    <a class="footer__left_link" href="#"><img class="footer__left_img" src="./description/img/svg/facebook.svg"
                            alt=""></a>
                    <a href="+99894 255 25 58" class="footer___right_link">+99894 255 25 58</a>
                    <a class="footer___right_link" href="#">
                        delivery<img class="footer__right_img"
                                     src="img/png/truck.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="../static/js/Base.js"></script>
    <script src="./node_modules/jquery/dist/jquery.js"></script>
</body>

</html>