<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&family=Red+Hat+Display:ital@1&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/consumer.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a class="header__logo d-flex" href="best.html">
                <h3 class="header__logo_s">B</h3>
                <h2 class="header__logo_title">Best</h2>
            </a>
            <ul class="nav__list">
                <li><a href="register/admin.html" class="nav__list_link">Sell on Best</a></li>
                <li><a href="register/register.html" class="nav__list_link">Register</a></li>
            </ul>
            <div class="search">
                <a class="search__link_left" href=""><img src="img/svg/search__logo.svg" alt=""></a>
                <input type="search" placeholder="search">
            </div>
            <li><a href="./consumer.html" class="nav__list_consummer">Consumer Electronics</a></li>
            <ul class="nav__list_two">
                <li><a href="register/sing__in.html" class="nav__link">Sign in</a></li>
                <li><a href="register/mycard.html" class="nav__link">My cart</a></li>
            </ul>
        </nav>
        <div class="header__content">
            <a class="header__link" href="clothes.html"><img src="img/svg/card__img.svg" alt=""><br> Clothing & Shoes</a>
            <a class="header__link" href="sport.html"><img src="img/svg/card__img4.svg" alt=""><br> Sport & Lifestyle</a>
            <a class="header__link" href="pets.html"><img src="img/svg/card__img5.svg" alt=""><br> Pets</a>
            <a class="header__link" href="kitchen.html"><img src="img/svg/card__img6.svg" alt=""><br> Kitchen Accessories</a>
            <a class="header__link" href="travel.html"><img src="img/svg/card__img7.svg" alt=""><br> Travel Equipment</a>
            <a class="header__link" href="growing.html"><img src="img/svg/card__img8.svg" alt=""><br> Growing & Garden</a>
            <a class="header__link" href="electrical.html"><img src="img/svg/card__img9.svg" alt=""><br> Electrical Tools</a>
            <a class="header__link" href="baby.html"><img src="img/svg/card__img10.svg" alt=""><br> Mother Care</a>
            <a class="header__link" href="toys.html"><img src="img/svg/card__img11.svg" alt=""><br> Toys & Entertainment</a>
        </div>
    </header>
    <main class="main">
        <div class="main__bar">
            <h2 class="section__title">Shop Products</h2>
            <div class="main__content container_one">
                <div class="logo__content">
                    <a href="consumer-folder/airpods.html" class="logo">airpods</a>
                    <a href="consumer-folder/watch.html" class="logo">watch</a>
                    <a href="consumer-folder/phone.html" class="logo">phone</a>
                </div>
                <i class='bx bx-shopping-bag d-flex' id="cart__icon">
                    <p class="basket">basket</p>
                </i>
                <div class="cart">
                    <h2 class="cart__title">Your Cart</h2>
                    <div class="total">
                        <div class="total__title">Total</div>
                        <div class="total__price">0 UZS</div>
                    </div>
                    <button class="btn__buy" type="button">Buy now</button>
                    <i class='bx bx-x' id="close__cart"></i>
                </div>
            </div>
        </div>
        <section class="shop container_one">
                <!-- Fudbolka -->
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="committee__inner shop__contents">
                                <div class="product__box foo">
                                    <img src="img/consumer/phone/phone-2.webp" alt="" class="product__img">
                                    <h2 class="product__title">samsung S22</h2>
                                    <span class="price">65.200 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box foo">
                                    <img src="img/consumer/phone/phone_13.webp" alt="" class="product__img">
                                    <h2 class="product__title">iphone 14 pro</h2>
                                    <span class="price">90.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box foo">
                                    <img src="img/consumer/phone/phone_5.webp" alt="" class="product__img">
                                    <h2 class="product__title">redmi note 11</h2>
                                    <span class="price">50.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box foo">
                                    <img src="img/consumer/phone/phone_6.webp" alt="" class="product__img">
                                    <h2 class="product__title">redmi 10a</h2>
                                    <span class="price">40.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="committee__inner shop__contents">
                                <div class="product__box">
                                    <img src="img/consumer/phone/phone_7.webp" alt="" class="product__img">
                                    <h2 class="product__title">redmi note 9</h2>
                                    <span class="price">50.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img src="img/consumer/phone/phone_12.webp" alt="" class="product__img">
                                    <h2 class="product__title">samsung z flip</h2>
                                    <span class="price">90.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box toodo">
                                    <img src="img/consumer/phone/phone.webp" alt="" class="product__img">
                                    <h2 class="product__title">iphone 13 pro</h2>
                                    <span class="price">65.200 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box ">
                                    <img src="img/consumer/phone/phone_16.webp" alt="" class=" teed">
                                    <h2 class="product__title">redmi 9 prime 64gb</h2>
                                    <span class="price">40.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev row__one" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <img src="img/svg/right.svg" alt="">
                    </button>
                    <button class="carousel-control-next row__two" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <img class="next1" src="img/svg/right.svg" alt="">
                    </button>
                </div>
                <!-- Pants -->
                <div id="carouselExampleControl" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="committee__inner shop__contents">
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/watch/watch.png" alt="">
                                    <h2 class="product__title">apple watch 6</h2>
                                    <span class="price">150.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/watch/watch_7.png" alt="">
                                    <h2 class="product__title">redmi watch 2</h2>
                                    <span class="price">140.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/watch/watch_2.png" alt="">
                                    <h2 class="product__title">apple watch 5</h2>
                                    <span class="price">160.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/watch/watch_4.png" alt="">
                                    <h2 class="product__title">samsung watch 3</h2>
                                    <span class="price">170.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="committee__inner shop__contents">
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/watch/watch_5.png" alt="">
                                    <h2 class="product__title">samsung watch 5</h2>
                                    <span class="price">150.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/watch/watch8.png" alt="">
                                    <h2 class="product__title">redmi watch 2 lite</h2>
                                    <span class="price">170.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/watch/watch_6.png" alt="">
                                    <h2 class="product__title">samsung watch</h2>
                                    <span class="price">160.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/watch/watch_3.png" alt="">
                                    <h2 class="product__title">apple watch bend</h2>
                                    <span class="price">140.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev row__on" type="button"
                        data-bs-target="#carouselExampleControl" data-bs-slide="prev">
                        <img src="img/svg/right.svg" alt="">
                    </button>
                    <button class="carousel-control-next row__tw" type="button"
                        data-bs-target="#carouselExampleControl" data-bs-slide="next">
                        <img class="next1" src="img/svg/right.svg" alt="">
                    </button>
                </div>
                <!-- sneakers -->
                <div id="carouselExampleControles" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="committee__inner shop__contents">
                                <div class="product__box">
                                    <img src="img/consumer/airpods/airpods.jpg" alt="" class="product__img">
                                    <h2 class="product__title">airpods pro</h2>
                                    <span class="price">140.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img src="img/consumer/airpods/buds.webp" alt="" class="product__img">
                                    <h2 class="product__title">galaxy buds 3</h2>
                                    <span class="price">170,000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/airpods/dots_2.jpg" alt="">
                                    <h2 class="product__title">airdots 2</h2>
                                    <span class="price">250.000</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/airpods/buds_3.webp" alt="">
                                    <h2 class="product__title">galaxy buds </h2>
                                    <span class="price">150.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="committee__inner shop__contents">
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/airpods/airpods_2.jpg" alt="" >
                                    <h2 class="product__title">AERODADT </h2>
                                    <span class="price">140.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/airpods/dots_3.jpg" alt="">
                                    <h2 class="product__title">airdots 3</h2>
                                    <span class="price">170,000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img class="product__img" src="img/consumer/airpods/airpods_max.jpg" alt="">
                                    <h2 class="product__title">airpods Max</h2>
                                    <span class="price">250.000</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                                <div class="product__box">
                                    <img class="product__img " src="img/consumer/airpods/dots.jpeg" alt="">
                                    <h2 class="product__title">airdots 2</h2>
                                    <span class="price">150.000 UZS</span>
                                    <i class='bx bx-shopping-bag add__card '></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev row__on" type="button"
                        data-bs-target="#carouselExampleControles" data-bs-slide="prev">
                        <img src="img/svg/right.svg" alt="">
                    </button>
                    <button class="carousel-control-next row__tw" type="button"
                        data-bs-target="#carouselExampleControles" data-bs-slide="next">
                        <img class="next1" src="img/svg/right.svg" alt="">
                    </button>
                </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer_content">
                <div class="footer__left d-flex">
                    <a class="header__logo d-flex" href="">
                        <h3 class="header__logo_s">B</h3>
                        <h2 class="header__logo_title">Best</h2>
                    </a>
                </div>
                <div class="footer__right d-flex">
                    <a class="footer__left_link" href="#"><img class="footer__left_img" src="img/svg/telegram.svg"
                            alt=""></a>
                    <a class="footer__left_link" href="#"><img class="footer__left_img" src="img/svg/instagram.svg"
                            alt=""></a>
                    <a class="footer__left_link" href="#"><img class="footer__left_img" src="img/svg/facebook.svg"
                            alt=""></a>
                    <a href="+99894 255 25 58" class="footer___right_link">+99894 255 25 58</a>
                    <a class="footer___right_link" href="#">
                        delivery<img class="footer__right_img" src="img/png/truck.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/js/clothes.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>