<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&family=Red+Hat+Display:ital@1&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/travel-folder/camera.css">

    <title>Document</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a class="header__logo d-flex" href="../best.html">
                <h3 class="header__logo_s">B</h3>
                <h2 class="header__logo_title">Best</h2>
            </a>
            <ul class="nav__list">
                <li><a href="../register/admin.html" class="nav__list_link">Sell on Best</a></li>
                <li><a href="../register/register.html" class="nav__list_link">Register</a></li>
            </ul>
            <div class="search">
                <a class="search__link_left" href=""><img src="../img/svg/search__logo.svg" alt=""></a>
                <input type="search" placeholder="search">
            </div>
            <li><a href="../consumer.html" class="nav__list_consummer">Consumer Electronics</a></li>
            <ul class="nav__list_two">
                <li><a href="../register/sing__in.html" class="nav__link">Sign in</a></li>
                <li><a href="../register/mycard.html" class="nav__link">My cart</a></li>
            </ul>
        </nav>
        <div class="header__content">
            <a class="header__link" href="../clothes.html"><img src="../img/svg/card__img.svg" alt=""><br> Clothing & Shoes</a>
            <a class="header__link" href="../sport.html"><img src="../img/svg/card__img4.svg" alt=""><br> Sport & Lifestyle</a>
            <a class="header__link" href="../pets.html"><img src="../img/svg/card__img5.svg" alt=""><br> Pets</a>
            <a class="header__link" href="../kitchen.html"><img src="../img/svg/card__img6.svg" alt=""><br> Kitchen Accessories</a>
            <a class="header__link" href="../travel.html"><img src="../img/svg/card__img7.svg" alt=""><br> Travel Equipment</a>
            <a class="header__link" href="../growing.html"><img src="../img/svg/card__img8.svg" alt=""><br> Growing & Garden</a>
            <a class="header__link" href="../electrical.html"><img src="../img/svg/card__img9.svg" alt=""><br> Electrical Tools</a>
            <a class="header__link" href="../baby.html"><img src="../img/svg/card__img10.svg" alt=""><br> Mother Care</a>
            <a class="header__link" href="../toys.html"><img src="../img/svg/card__img11.svg" alt=""><br> Toys & Entertainment</a>
        </div>
    </header>
    <main class="main">
        <div class="main__bar">
            <h2 class="section__title">Shop Products</h2>
            <div class="main__content container_one">
                <div class="logo__content">
                    <a href="torch.html" class="logo">torch</a>
                    <a href="glass.html" class="logo">glass</a>
                    <a href="./camera.html" class="logo">camera</a>
                    <a href="compass.html" class="logo">compass</a>
                    <a href="charget.html" class="logo">charget</a>
                    <a href="binoculars.html" class="logo">binoculars</a>
                    <a href="hat.html" class="logo">hat</a>
                    <a href="thermos.html" class="logo">thermos</a>
                    <a href="walkie-talkie.html" class="logo">walkie-talkie</a>
                </div>
                <i class='bx bx-shopping-bag d-flex' id="cart__icon">
                    <p class="basket">basket</p>
                </i>
                <div class="cart">
                    <h2 class="cart__title">Your Cart</h2>
                    <div class="total">
                        <div class="total__title">Total</div>
                        <div class="total__price">0 UZS</div>
                    </div>
                    <button class="btn__buy" type="button">Buy now</button>
                    <i class='bx bx-x' id="close__cart"></i>
                </div>
            </div>
        </div>
        <section class="shop container_one">
            <!-- shop cont 2 -->
            <div class="shop__contents">
                <!-- Pants -->
                <div class="product__box">
                    <img class="product__img" src="../img/travel/travel_12.webp" alt="">
                    <h2 class="product__title">POLO</h2>
                    <span class="price">150.000 UZS</span>
                    <i class='bx bx-shopping-bag add__card '></i>
                </div>
                <div class="product__box">
                    <img class="product__img" src="../img/travel/travel_17.webp" alt="">
                    <h2 class="product__title">classic</h2>
                    <span class="price">170.000 UZS</span>
                    <i class='bx bx-shopping-bag add__card '></i>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer_content">
                <div class="footer__left d-flex">
                    <a class="header__logo d-flex" href="">
                        <h3 class="header__logo_s">B</h3>
                        <h2 class="header__logo_title">Best</h2>
                    </a>
                </div>
                <div class="footer__right d-flex">
                    <a class="footer__left_link" href="#"><img class="footer__left_img" src="./img/svg/telegram.svg"
                            alt=""></a>
                    <a class="footer__left_link" href="#"><img class="footer__left_img" src="./img/svg/instagram.svg"
                            alt=""></a>
                    <a class="footer__left_link" href="#"><img class="footer__left_img" src="./img/svg/facebook.svg"
                            alt=""></a>
                    <a href="+99894 255 25 58" class="footer___right_link">+99894 255 25 58</a>
                    <a class="footer___right_link" href="#">
                        delivery<img class="footer__right_img" src="./img/png/truck.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/clothes.js"></script>
</body>

</html>