<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/mycard.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="card__container">
                <div class="front">
                    <div class="image">
                        <img class="sim" src="../img/mycard/icon__sim.png" alt="">
                    </div>
                    <div class="card__number_box">XXXX XXXX XXXX XXXX</div>
                    <div class="flexbox">
                        <div class="box">
                            <div class="expiration">
                                <span class="exp__month">mm</span>
                                <span class="exp__month">yy</span>
                            </div>
                            <span>card holder</span>
                        </div>
                        <div class="box">
                            <img class="uzkard" src="../img/mycard/Uzcard-01.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="inputBox">
                    <input class="card__number_input" type="text" maxlength="16" placeholder="card number">
                </div>
                <div class="flexbox">
                    <div class="inputBox">
                        <select class="month__input" name="" id="">
                            <option value="year" selected disabled>month</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="inputBox">
                        <select class="year__input" name="" id="">
                            <option value="year" selected disabled>year</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                        </select>
                    </div>

                </div>
                <input type="submit" value="submit" class="submit__btn">
            </form>
        </div>
    </header>
</body>

</html>