<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&family=Red+Hat+Display:ital@1&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/sing_in.css">
        <link rel="stylesheet" href="../../static/css/register.css">
</head>
<body>
    <header class="header">
        <form class="sing__in foo">
            <h2 class="sing__in_title">Create Account </h2>
            <div class="sing">
                <img class="sing__img" src="../img/svg/sing__svg.svg" alt="">
                <input class="sing__input form-control " type="text"  placeholder="Username" required>
                <img class="mail" src="../img/png/gmail.png" alt="">
                <input class="sing__input form-control row_input" type="email"  placeholder="best_shop@gmail.com" required>
                <div class="password row">
                    <img class="sing__img_two" src="../img/svg/sing__svg_two.svg" alt="">
                    <input class="sing__input form-control" type="password" placeholder="••••••••" required>
                </div>
            </div>
            <div class="google">
                <a href="#" class="facebook__link"><img class="facebook__img" src="../img/png/facebook.png" alt="">Facebook</a>
                <a href="#" class="google__link"><img class="google__img" src="../img/png/google.png" alt="">Google</a>
            </div>
            <button class="button form-control">Create New Account</button>
        </form>
    </header>
</body>
</html>