* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: Inter;
}

:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
    --blue-color: #2979FF;
    --bg-link: #EBF2FF;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.container_one {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.cart.active {
    right: 0;
}

/* =========== HEADER ========= */
/* =========== NAV ========= */

.nav {
    display: flex;
    align-items: center;
    margin: 10px 11px;
}

.nav__list {
    display: flex;
    align-items: center;
    margin: 0 50px 0 30px;
}


.header__logo_s {
    padding: 2px 0 0 10px;
    background: linear-gradient(90deg, var(--blue-color) 0%, #4C589E 100%);
    border-radius: 6px;
    color: #fff;
    width: 36px;
    height: 38px;
}

.header__logo_title {
    font-weight: 500px;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #0C2146;
    margin-left: 12px;
}

.search input {
    width: 558px;
    background: #EDEDF0;
    outline: none;
    padding: 5px 10px 5px 40px;
    border: none;
    border-radius: 99px;
}

.search input::placeholder {
    text-transform: capitalize;
    color: #b6b6b7;
    padding: 10px 5px;
}

.search__link_left {
    position: absolute;
    padding: 4px 12px;
}

.search__link_right {
    position: absolute;
    margin: 4px 20px 0 -28px;
}

.nav__list_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    color: #5A5B6A;
}

.nav__list_link:nth-last-of-type(1) {
    margin-right: 28px;
}

.nav__list_consummer {
    font-size: 16px;
    line-height: 158%;
    display: flex;
    align-items: center;
    letter-spacing: 0.0075em;
    color: #2264D1;
    margin-left: 30px;
}

.nav__list_two {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-top: 12px;
}

.nav__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.0075em;
    color: #2264D1;
    padding: 8px 12px;
    border: 1px solid #9DC2FF;
    border-radius: 4px;
    transition: 0.5s;
    margin-left: 25px;
}

.header__logo:hover,
.nav__list_link:hover,
.nav__list_consummer:hover,
.nav__link:hover {
    text-decoration: none;
}

.nav__link:hover {
    color: #fff;
    background: #4481e3;
}

/* =========== /NAV ========= */
/* =========== HEADER-CONTENT========= */

.header__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
}

/* .header{
    position: fixed;

    z-index: 100;
} */
.header__link {
    display: block;
    text-align: center;
    transition: 0.5s;
    color: #787885;
    font-size: 14px;
    padding: 5px 9px;
    letter-spacing: 0.018em;
}

.header__link:nth-of-type(7) {
    background: #EBF2FF;
    border-radius: 6px;
    color: #2979FF;

}

.header__link:hover {
    background: #EBF2FF;
    text-decoration: none;
    color: #2979FF;
    border-radius: 6px;
}

.header__link img {
    width: max-content;
}

/* =========== /HEADER-CONTENT========= */
/* =========== /HEADER ========= */
/* =========== main ========= */
.main__bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    /* box-shadow: 0 1px 1px hsl(0 4% 15% / 10%); */
    z-index: 100;
}
.main__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    padding: 5px 14px;
    color: #4A4B57;
    background: #EDEDF0;
    border-radius: 50px;
    margin-right: 6px;
    transition: 0.5s;
}

.logo:hover {
    color: var(--blue-color);
    background: var(--bg-link);
    text-decoration: none;


}
/* .row__one{
    height: 40px;
    width: 40px;
    margin: 200px 0 0 -50px ;
    border: none;
    background: #fff;
} */
.row__one{
    height: 40px;
    width: 40px;
    margin: 180px 0 0 -50px ;
    border: none;
    background: #fff;
}
/* .row__two{
    height: 40px;
    width: 40px;
    margin: 200px -50px 0 0 ;
    border: none;
    background: #fff;
} */
.row__two{
    height: 40px;
    width: 40px;
    margin: 180px -50px 0 0 ;
    border: none;
    background: #fff;
}
.teed{
    padding: 10px;
}
.teed:hover{
    padding: 20px;
}
.teed__two{
    width: 260px;
    height: 330px;
    padding-bottom:15px ;
}
.toodo{
    padding-top: 4px;
    margin-bottom: 0;
}
#carouselExampleControles{
    margin-top: 20px;
}
/* ======= Cart ======= */
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    z-index: 100;
}

.cart__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart__box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart__img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail__box {
    display: grid;
    row-gap: 0.rem;
}

.cart__product_title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart__price {
    font-weight: 500;
}

.cart__quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart__remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total__title {
    font-size: 1rem;
    font-weight: 600;
}

.total__price {
    margin-left: 0.5rem;
}

.btn__buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn__buy:hover {
    background: var(--text-color);
}

#close__cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}
.next1 {
    transform: rotate(180deg);
}
/* ======= /Cart ======= */

#cart__icon {
    font-style: 1.8rem;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.basket{
    font-size: 16;
    text-transform: uppercase;
    margin-left: 5px;
    padding-top: 17px;
}
section {
    padding: 1rem 0 3rem;
}

.section__title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    padding-top: 60px;
    text-transform: uppercase;
}

.shop {
    margin-top: -2rem;
}

.shop__contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    margin-top: 30px;
    transition: 0.5s;
}

.product__box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.product__box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}
/* .foo{
    width: 250px;
    height: 300px;
    padding: 10px;
} */
.product__img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    
}

.product__title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add__card {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.add__card:hover {
    background: hsl(249, 32%, 17%);
}


/* ======= Footer ======= */
.footer {
    background: #EDEDF0;
    padding: 40px 50px;
    margin-top: 60px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer__left_link {
    display: block;
}

.footer__left_img {
    width: 30px;
    margin-right: 18px;
    margin-top: 8px;
    transition: 0.5s;

}

.footer__right_img {
    width: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.footer___right_link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #171427;
    font-weight: 700;
    transition: 0.5s;
    font-size: 16px;
    margin-left: 20px;
}

.footer___right_link:hover {
    text-decoration: none;
    color: #4481e3;
}

/* ======= /Footer ======= */