<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&family=Red+Hat+Display:ital@1&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./description.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a class="header__logo d-flex" href="./best.html">
                <h3 class="header__logo_s">B</h3>
                <h2 class="header__logo_title">Best</h2>
            </a>
            <ul class="nav__list">
                <li><a href="register/admin.html" class="nav__list_link">Sell on Best</a></li>
                <li><a href="register/register.html" class="nav__list_link">Register</a></li>
            </ul>
            <div class="search">
                <a class="search__link_left" href=""><img src="img/svg/search__logo.svg" alt=""></a>
                <input type="search" placeholder="search">
            </div>
            <li><a href="consumer.html" class="nav__list_consummer">Consumer Electronics</a></li>
            <ul class="nav__list_two">
                <li><a href="register/sing__in.html" class="nav__link">Sign in</a></li>
                <li><a href="register/mycard.html" class="nav__link">My cart</a></li>
            </ul>
        </nav>
        <div class="header__content">
            <a class="header__link" href="clothes.html"><img src="img/svg/card__img.svg" alt=""><br> Clothing &
                Shoes</a>
            <a class="header__link" href="sport.html"><img src="img/svg/card__img4.svg" alt=""><br> Sport &
                Lifestyle</a>
            <a class="header__link" href="pets.html"><img src="img/svg/card__img5.svg" alt=""><br> Pets</a>
            <a class="header__link" href="kitchen.html"><img src="img/svg/card__img6.svg" alt=""><br> Kitchen
                Accessories</a>
            <a class="header__link" href="travel.html"><img src="img/svg/card__img7.svg" alt=""><br> Travel
                Equipment</a>
            <a class="header__link" href="growing.html"><img src="img/svg/card__img8.svg" alt=""><br> Growing &
                Garden</a>
            <a class="header__link" href="electrical.html"><img src="img/svg/card__img9.svg" alt=""><br> Electrical
                Tools</a>
            <a class="header__link" href="baby.html"><img src="img/svg/card__img10.svg" alt=""><br> Mother Care</a>
            <a class="header__link" href="toys.html"><img src="img/svg/card__img11.svg" alt=""><br> Toys &
                Entertainment</a>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <main class="content">
                <div class="main_left">
                    <img class="main__left_img" src="./img/kitchen/kitchen_11.webp" alt="">
                </div>
                <div class="main_right">
                    <div class="right_cont">
                        <h2 class="title">kitchen</h2>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, itaque, ipsum
                            assumenda quis repellendus incidunt maiores culpa ducimus unde, nisi dolorem quo. Quo sit
                            qui omnis ad eum eligendi nihil enim. Eaque accusantium tempore, nam in exercitationem quos
                            adipisci eveniet.</p>
                        <div>
                            <span class="span">12 000 UZS</span>
                            <a class="footer___right_link" href="#">
                                delivery<img class="footer__right_img"
                                             src="img/png/truck.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </main>
</body>

</html>